/* water.css overwrites */

@media (prefers-color-scheme: dark) {
	:root {
		--background-body: rgb(46, 46, 46);
	}
}

/* global style */
* {
	font-family: Helvetica, sans-serif;
	font-size: 16px;
}

body {
	display: flex;
	justify-content: center;
}

h1,
h2 {
	text-align: center;
	font-weight: 100;
	margin: 0 0 1rem;
}

h2 {
	font-size: 1.3rem;
}

p {
	font-weight: 200;
}

a:hover {
	text-decoration: none;
}
