@media (prefers-color-scheme: dark) {
	:root {
		--background-body: rgb(46, 46, 46);
	}
	/* !important is necessary here because swal's CSS seems to be bundled after this file */
	.swal2-title {
		color: var(--text-main) !important;
	}
	.swal2-html-container {
		color: var(--text-main) !important;
	}
	.swal2-popup {
		background-color: var(--background-body) !important;
	}
}

* {
	font-family: Helvetica, sans-serif;
	font-size: 14px;
	font-weight: 200;
}

html {
	height: 100%;
}

body {
	display: flex;
	justify-content: center;
	height: 96%;
	margin: 4% auto;
}

h1,
h2 {
	text-align: center;
	font-weight: 100;
	margin: 0 0 1rem;
}

h2 {
	font-size: 1.3rem;
}

a:hover {
	text-decoration: none;
}

details {
	margin: 0.5rem 0;
}

input {
	margin-right: 0;
}
